<% action = (params[:action] == "checked_out") ? :checked_out : nil %>
<ul id="categories">
<% Category.all.each do |c| %>
  <% if @category == c %>
    <li class="selected"><%= c.name %></li>
  <% else %>
    <li><%= link_to c.name, [action, c, :books], :style => "color:#{c.color}" %></li>
  <% end %>
<% end %>
</ul>