<ul class="menu_items">
  <li><%= link_to_unless params[:action] == "index", "書籍の一覧", :books %></li>
  <li><%= link_to_unless params[:action] == "new", "書籍の追加", [ :new, :book] %></li>
  <li><%= link_to "カテゴリーの一覧へ", :categories %></li>
</ul>