ul.menu_items {
  padding:0;
  margin: 10px;
  margin-bottom: 2em;
  list-style:none;
  width: 600px;
  
  li {
    display: inline-block;
    border-left : 10px #999 solid;
    font-weight:bold;
    padding: 0px 0px 0px 5px;
    margin-right: 20px;
    
    a {
      text-decoration: none;
    }
  }
}
  